.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: rgb(71, 187, 226);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 500;
}

.dark .header {
  background-color: var(--card-bg-dark);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.header-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.header-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-input {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.566);
  font-size: 1rem;
  background-color: transparent;
  color: black;
  transition: border-color 0.2s;
}

.dark .search-input {
  border-color: var(--border-color-dark);
  color: var(--dark-text-color);
}

.search-input:focus {
  outline: none;
  border-color: var(--primary-blue);
  box-shadow: 0 0 0 2px rgba(90, 128, 230, 0.2);
}

.theme-toggle-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Media query for mobile responsiveness */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
  
  .header-controls {
    width: 100%;
    justify-content: space-between;
  }
  
  .search-input {
    flex-grow: 1;
  }
}